<div id="<%= dom_id(quote) %>" class="quote" updated="<%= quote.updated_at %>" up-keep>
  <%= link_to quote.name, quote_path(quote) %>
  <div class="quote__actions">
    <%= button_to "Delete",
        quote_path(quote),
        method: :delete,
        class: "btn btn--light",
        "up-target" => "##{dom_id(quote)}" %>
    <%= link_to "Edit",
      edit_quote_path(quote),
      class: "btn btn--light",
      "up-target" => "##{dom_id(quote)}" %>
  </div>
</div>
